/* ---
  Fonts
--- */
@font-face {
  font-family: 'Cartograph';
  font-style:  bold;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/CartographCF-Bold-subset.woff2") format("woff2");
}
@font-face {
  font-family: 'Marcher';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/marcher-regular-subset.woff2") format("woff2");
}
@font-face {
  font-family: 'Marcher';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/marcher-regularitalic-subset.woff2") format("woff2");
}
/* ---
  Global
--- */
:root {
  --base: theme('colors.black-light');
  --bg: theme('colors.grey-light');
  --primary: theme('colors.teal-dark');
  --alt: theme('colors.teal');
  --accent: theme('colors.purple');
  --accent-dark: theme('colors.purple-dark');
  --hover: theme('colors.purple-dark');
  --subtle: theme('colors.grey');
}
.dark {
  --base: theme('colors.grey');
  --bg: theme('colors.black');
  --primary: theme('colors.teal');
  --alt: theme('colors.teal-dark');
  --accent: theme('colors.yellow');
  --accent-dark: theme('colors.yellow-dark');
  --hover: theme('colors.yellow');
  --subtle: theme('colors.grey-darkest');
}
body{
  background: theme('colors.grey-light');
  font-size: 1.125rem;
  &.dark {background: theme('colors.black');}
  font-family: theme('fontFamily.sans');
}
p{
  margin: 1rem 0;
}
.page{
  background: radial-gradient(50% 100% at 50% 0%, theme('colors.white') 0%, theme('colors.grey-light') 100%);
  .dark & {background: radial-gradient(50% 100% at 50% 0%, theme('colors.grey-darkest') 0%, theme('colors.black') 100%);}
  font-family: theme('fontFamily.sans');
}
::selection {
  background: rgba(197, 165, 197, .5);
  .dark & {
    background: rgba(95, 179, 179, .25);
  }
}
.strike, s {
  position: relative;
}
.strike::after, s::after {
  background: var(--alt);
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
.content a, main nav a {
  backface-visibility: visible;
  box-shadow: inset 0 -6px 0px -0px var(--subtle);
  color: var(--primary);
  margin: 0 -3px;
  padding: 0 3px;
  position: relative;
  transition: all 0.2s ease;
  z-index: 1;
  &:hover{
    box-shadow: inset 0 -1px 0px 0px var(--accent-dark);
    color: var(--accent);
  }
}
main nav {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  a {
    padding: 0 1rem;
    margin: 0;
  }
  a.active {
    color: var(--accent);
  }
}
a:focus, button:focus {
  outline: 2px var(--primary) dotted;
  outline-offset: 2px;
}
article h2 {
  color: var(--primary);
  font-size: 1.5rem;
  font-family: 'Cartograph', 'Menlo', 'Monaco', 'Consolas', '"Liberation Mono"', '"Courier New"', 'monospace';
  margin-top: 2.5rem;
  position: relative;
  a {
    display: none;
    position: absolute;
    right: 100%;
  }
  // &:hover a {
  //   display: block;
  // }
}
.icon.icon-link::after {
  content: "link";
}
/* ---
  Logo
--- */
.logo {
  height: theme('spacing.12');
  margin: -8px 0 0 -8px;
  transition: background .15s cubic-bezier(.79,.45,.37,.66);
  width: theme('spacing.64');
  backface-visibility: hidden;
}
.logo::before, .logo::after {
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  backface-visibility: hidden;
}
.logo::before {
  background: linear-gradient(to bottom, var(--accent) 50px, var(--accent-dark));
  z-index: -2;
}
.logo::after {
  background: linear-gradient(to bottom, #5fb3b3 50px, #1A8384);
  transition: opacity .15s cubic-bezier(.79,.45,.37,.66);
  z-index: -1;
}
.logo:hover::after, .logo:focus::after, .logo:active::after {
  opacity: 0;
}
.logo:focus {
  outline: none;
}
.logo:focus svg{
  outline: 2px dotted var(--accent);
  outline-offset: 2px;
  z-index: 10;
}


// PRISM
:root {
  --code-bg: #0f1c23;
  --comment: #65737e;
  --highlight: #4f5b66;
  --selected: #356367;
  --punctuation: #5fb3b3;
  --primary: #5fb3b3;
  --operator: #5fb3b3;
  --keyword: #c5a5c5;
  --constant: #eb9a6d;
  --selector: #99c794;
  --string: #99c794;
  --foreground: #d8dee9;
  --function: #5a9bcf;
}
.language-html {
  --constant: #ed6f7d;
  --selector: #c5a5c5;
  --operator: #99c794;
  --keyword: #99c794;
}
.language-css, .language-scss {
  --foreground: #eb9a6d;
  --constant: #fac863;
  --selector: #ed6f7d;
  --operator: #99c794;
}
.dark {
  --code-bg: #1b2b34;
}
pre[class*="language-"],
code[class*="language-"] {
  border-left: 4px solid var(--primary);
  color: var(--foreground);
  font-size: 0.875rem;
  text-shadow: none;
  font-family: 'Cartograph', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: var(--selected);
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: var(--code-bg);
}
.prose :not(pre) > code[class*="language-"] {
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  color: var(--foreground);
  background: var(--code-bg);
}
.prose :not(pre) > code {
  background: var(--code-bg);
  border-radius: 0.3em;
  color: var(--accent) !important;
  font-weight: normal;
  padding: 0.1em 0.5em;
}
.prose code::before, .prose code::after{
  display:none;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}
.token.punctuation {
  color: var(--punctuation);
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--constant);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--selector);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--operator);
  background: var(--code-bg);
}
.token.atrule .token.rule,
.token.attr-value,
.token.keyword {
  color: var(--keyword);
}
.token.function {
  color: var(--function);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--foreground);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.atrule {
  color: var(--foreground);
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: var(--highlight);
  box-shadow: inset 5px 0 0 var(--primary);
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
.multiline {
  min-height: 400px;
}
.multiline > * {
  color: var(--base);
  display: inline-block;
  padding: 0.45rem;
}
